@use '@styles/globals';

.root {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  background: globals.$white-color;
  align-items: center;
  padding: 0 15%;
  height: 3.9rem;
  width: 100%;
  max-height: 3.9rem;
  box-shadow: var(--shadow-4);
  position: sticky;
  top: 0;
  z-index: 5;
  justify-content: space-between;
  border-bottom: globals.$primary-color 2px solid;

  @media (max-width: globals.$breakpoint-sm) {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  gap: 1rem;
}

.button {
  background-color: globals.$primary-color;
}